/* Blue Gray */
$blue-gray: #eceff1;
$blue-gray-500: #607d8b;
$blue-gray-900: #263238;

/* Deep Orange */
$deep-orange-100: #ffccbc;
$deep-orange-300: #ff8a65;
$deep-orange-900: #bf360c;

/* Teal */
$teal-200: #80cbc4;
$teal-400: #26a69a;
$teal-800: #00695c;

/* Gray */
$gray-200: #eee;
$gray-400: #bdbdbd;

/* Misc */
$white: #fff;