@import '../../../styles/vars';

.btn {
  cursor: pointer;
  min-width: 120px;
  padding: 10px 20px;

  &--primary {
    color: $blue-gray-900;
    background-color: $teal-200;
    border: 1px solid $teal-200;
    font-weight: 500;
    transition: .2s ease-in;

    &:hover {
      color: $white;
      background-color: $teal-400;
      border-color: $teal-400;
    }
  }

  &.disabled {
    color: $gray-400;
    background-color: $gray-200;
    border-color: $gray-200;
    cursor: not-allowed;
  }
}